/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */


.container
{
    margin-left: auto;
    margin-right: auto;
}

#top
{
    background-color:#CCDFCC;
    top: 0;
    left: 0;
    right: 30%;
    bottom: 30%;
}

.logo
{
    text-decoration: none;
    font-size:110px;
    font-weight: bold;
    font-family:'Capriola', Helvetica-neue, Tahoma, Arial;
    color:#006666;
}

.blurb
{
    padding: 20px;
    text-align:left;
    font-size: 50px;
    font-weight: bold;
    font-family:'Architects Daughter', Helvetica-neue, Tahoma, Arial;   
    color:#000000;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#rightSidebar
{
    position:absolute;
    padding: 100px 15px 15px 15px;
    float: right;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 30%;
    background-color: #DDFF77;
    text-align:center;
}

#middle td
{
    /* left-align tables' cells */
    text-align: left;
}

#middle .nav
{
    /* center navigation pills */
    display: inline-block;
}

#bottom
{
    position:absolute;
    background-color: #CCBBCC;
    bottom:0px;
    /* shrink bottom's font size */
    font-size: smaller;
    /* surround with whitespace */
    /* center contents */
    text-align: center;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
}
